
.fly-mask-panel{
	background:#000;
	opacity: 0.5;
	filter:alpha(opacity=50);
	height:100%;
	width:100%;
	position:fixed;
	_position:absolute;
	top:0px;
	left:0;
	z-index: 1000;
}
.fly-mask-iframe{
	width:100%;
	height:100%;
	filter:alpha(opacity=0);
	opacity: 0;
}

.fly-dialog-close{
	background:url(images/close.png) no-repeat;
	width:30px;
	height:30px;
	z-index: 10;
	position:absolute;
	right:5px;
	top:5px;
	zoom:1;
}
.fly-dialog-close:hover{
	background-position:0 -30px;
}
.fly-dialog-title-wrap{
	font-size:14px;
	color:#6f6f6f;
	background:url(images/bg_title.png);
	cursor:move;
	line-height:30px;
	padding:0 10px;
	border-bottom:1px solid #e1e1e1;
}
.fly-dialog-title{
}
.fly-dialog-wrap{
	position:absolute;
	display:none;
	ibackground:url(images/bg_layer.png);
	background-color: rgba(190, 190, 190, 0.5);
	filter:progid:DXImageTransform.Microsoft.gradient(startcolorstr=#75aaaaaa,endcolorstr=#75aaaaaa);
	padding:5px;
	border-radius:5px;
}
.fly-dialog-inner{
	background:#fff;
	border:1px solid #aaa;
}

.fly-dialog-buttons_wrap{
	text-align:right;
	padding:5px;
}

.fly-dialog-alert .fly-dialog-buttons_wrap{
	text-align:center;
}
.alert-confirm{
	background:url(images/icon-question.png) no-repeat;
}
.alert-info{
	background:url(images/icon-info.png) no-repeat;
}
.alert-warning{
	background:url(images/icon-warning.png) no-repeat;
}
.alert-error{
	background:url(images/icon-error.png) no-repeat;
}
